name: Docker Image CI

on:
  release:
    types: [published]

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/telegram-to-notion-links-bot
    
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            tag_suffix: latest
            tag_variant: slim

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js 24
      uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Install Dependencies
      run: npm install
    - name: Build project
      run: npm run build
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container
    - name: Extract image full name lowercase
      id: image_fullname
      run: |
        full_name=$(echo "${{ env.IMAGE_NAME }}" | tr '[:upper:]' '[:lower:]')
        echo "Lowercase fullname: $full_name"
        echo "lowercase_name=$full_name" >> $GITHUB_OUTPUT

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ steps.image_fullname.outputs.lowercase_name }}
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}

    - name: Build and push ${{ matrix.tag_variant }} Docker image
      id: build-and-push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ${{ matrix.dockerfile }}
        push: true
        tags: |
          ${{ steps.image_fullname.outputs.lowercase_name }}:${{ matrix.tag_suffix }}
          ${{ steps.image_fullname.outputs.lowercase_name }}:${{ matrix.tag_variant }}-${{ github.event.release.tag_name }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

      
      
    
  
